*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.logo{
    font-size: 27px;
    font-weight: 700;
    color:#0c1017;
}
.navlist{
    display: flex;
}
.navlist a{
    color: #0c1017;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    background-color: #fff;
}
#menu-icon{
    color: rgb(180, 16, 16);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
 .hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #e6e214 0%, #ca7c17 28.53%, #e87028 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1ft);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
	padding-bottom: 100px;
}

.hero-text{
	
  padding-top: 16px;
  margin-top: 96px;
  margin-left: -80px;
}


.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
}
.hero-text h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 75px;
    line-height: 1;
    color: #0c1017;
    margin: 0 0 45px;
}
.hero-text h4{
    font-size: 31px;
    font-weight: 600;
    color: #0c1017;
    margin: 3px;
    font-family: 'Mochiy Pop One', sans-serif;
}
.hero-text p{
    color: #0c1017;
    font-size: 20px;
    line-height: 1.9;
    margin-bottom: 40px;
}
.hero-img img{
    width: 700px;
    height: auto;
	margin-left: 221px;
	margin-top: -766px;
}

.hero-text a.opt{
    font-weight: bold;
    color: #fff;
    font-family: 'Mochiy Pop One', sans-serif;
}

.hero-text a{
    display: inline-block;
    color: #0c1017;
    background:#0000004f;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}


.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Mochiy Pop One', sans-serif;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color:white;
    background: transparent;
    border-radius: 30px;
    transition: all .50s ease;
}
@media (max-width: 1500px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1350px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1200px){
     .hero-img img{
        width: 100%;
        height: auto;
     }
     .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
     }
     .hero-text h5{
        margin-bottom: 25px;
     }
}
@media (max-width: 1000px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 500px;
        height: auto;
    }
    .hero{
        height:100%;
        gap: 1rem;
        grid-template-columns: 1ft;
    }
    .icons{
        display: none;
    }
    scroll-down{
        display: none;;
    }
}
@media (max-width: 840px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #5546a1;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 670px){
     .hero-img img{
        width: 100%;
        height: auto;
     }
}
